.post {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: white;
    border: 3px solid lightgrey;
    margin-bottom: 50px;
    border-radius: 10px;
}

.post__avatar {
    margin-right: 15px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 5px;
}

.post__text {
    font-weight: normal;
    padding: 20px;
    border-radius: 5px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-radius: 5px;
}

.left__side {
    display: flex;
    align-items: center;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__comments {
    padding: 20px;
    border-radius: 5px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button {
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
}

.button__delete {
    float: right;
}

.post__likes {
    display: flex;
    padding-left: 15px;
}

.post__editForm {
    display: flex;
}

/* .button__actions {
    width: 200px;
    height: ;
} */

.comment {
    display: flex;
    justify-content: space-between;
}

.editComment__button {
    width: 40px;
    height: 20px;
    border: none;
    /* border-bottom: 1px solid lightgray; */
    background-color: white;
    font-size: x-small;
}

.editComment__button:hover {
    background-color: darkgray;
}